@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');

/*----global----*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
/*----global----*/





/* ----header---- */

header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    justify-content: space-between;
    background-color: black;  
    display: flex;

}

nav {
    padding: 30px 100px 0px 0px;
}

.logo{
    color: white;
    font-family: 'MuseoModerno',sans-serif;
    font-weight: 600;
    font-size: 50px;
    padding: 0px 0px 0px 30px;
}


.navlinks li{
    display: inline-block;
    padding: 0px 10px;
}
.navlinks  a{
   
    transition: ease  0.5s;
    padding: 3px 10px;
    font-size: 20px;
}

.navlinks  a:hover {
    background-color: white;
    color:black;
}

/* ----header---- */



/*--- mainbody---*/



h3 {
    text-align: center;
    font-size: 50px;
    margin: 10px 0px;
    
}

.product-list{
    width: 40%;
    height: 52vh;
    float: left;
    background-color: black;
    margin: 10px;
    border: 2px solid black;
    
}


.product-list li{
    border-bottom-style:solid;
    border-bottom-width: 1px;
    padding: 5px;
    height: 35px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    color: white;
}

.product-list a{
    color: white;
    font-size: 20px;
}
.product-list li:hover{
    background-color: grey;
    transition: ease-in 0.3s;
}
.product-list a:hover{
    color: white;

}
.right-side-content p {
    padding: 0px 50px 0px 700px;
    height: 50vh ;
}

.main-body{
    padding: 50px;
}



/*--- mainbody---*/


